$first-color: #112055;
$first-color-lighter: lighten($first-color, 20%);
$first-color-darker: darken($first-color, 20%);
$second-color: #4f9d92;
$font-color: #fff;

%box-shared {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
}

.box__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}
.box-primary {
  @extend %box-shared;
  color: $font-color;
  background-color: $first-color;
  &:hover {
      box-shadow: none
  }
}
.box-primary-lighter {
  @extend %box-shared;
  background-color: $first-color-lighter;
  &:hover {
      box-shadow: none
  }
}
.box-primary-darker {
  @extend %box-shared;
  color: $font-color;
  background-color: $first-color-darker;
  &:hover {
      box-shadow: none
  }
}
.box-secondary {
  @extend %box-shared;
  background-color: $second-color;
  &:hover {
      box-shadow: none;
  }
}
